<section class="hero-home">
    <h2>A Elegância do Passado, <br>no Presente.</h2>
    <p>Explore nossa coleção exclusiva de veículos que fizeram história.</p>
    <a href="/carros" class="btn-classic">Ver Acervo Completo</a>
</section>